.background {
  //   --background: url("../../../assets/images/bg_login.png") no-repeat 100%/100%
  //     100%;
  background-color: red;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  padding: 0 20px;

  form ion-button {
    margin-top: 60px;
  }

  ion-item {
    border-radius: 8px;

    &:first-child {
      margin-bottom: 10px;
    }
  }
}
