//Most ionic2 calendar style needs to be in global.css
.indicator-container{
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
  
  }
  
  .indicator-present{
    background-color: greenyellow;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  .indicator-absent{
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .metadata-end-wrapper {
    position: absolute;
  
    top: 10px;
    inset-inline-end: 10px;
  
    font-size: 0.8rem;
    display: flex;
    align-items: center;
  }
  
  ion-label strong {
    display: block;
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  ion-label ion-note {
    font-size: 0.9rem;
  }

  ion-col{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .progress-container {
    position: relative;
    width: 120px; /* Match the round-progress size */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }

  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  
  .value-container{
    display: row;
    gap: 15px;
  }

  calendar{
    background-color: white;
  }