<ion-header [translucent]="true">
  <app-header title="Pais" [hasNotification]="servico.temMensagemNova"/>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item [button]="true" detail="false">
      <div class="unread-indicator-wrapper" slot="start">
        <ion-icon class="unread-indicator" name="mail" slot="icon-only"></ion-icon>
      </div>
      <ion-label>
        <strong>Rick Astley</strong>
        <ion-text>Never Gonna Give You Up</ion-text><br />
        <ion-note color="medium" class="ion-text-wrap">
          Never gonna give you up Never gonna let you down Never gonna run...
        </ion-note>
      </ion-label>
      <div class="metadata-end-wrapper" slot="end">
        <ion-note color="medium">06:11</ion-note>
        <ion-icon color="medium" name="chevron-forward"></ion-icon>
      </div>
    </ion-item>
  </ion-list>
 
</ion-content>
