ion-icon {
  font-size: 24px;
}

ion-tab-button{
  font-size: 10px;
  
  
  --padding-end: 0px;
  --padding-start: 10px;
  --padding-bottom: 0px;
  --margin-left:0px;
  --margin-right:0px;
  max-width:100px;
}

