
<ion-tabs>
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="frequencia" href="/tabs/frequencia">
      <ion-icon aria-hidden="true" name="checkmark-circle-outline"></ion-icon>
      <ion-label>Frequência</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notas" href="/tabs/notas">
      <ion-icon aria-hidden="true" name="reader-outline"></ion-icon>
      <ion-label>Notas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="agenda" href="/tabs/agenda">
      <ion-icon aria-hidden="true" name="calendar-number-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="ocorrencias" href="/tabs/ocorrencias">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>Ocorrências</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="avaliacao" href="/tabs/avaliacao">
      <ion-icon aria-hidden="true" name="star"></ion-icon>
      <ion-label>Avaliação</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
