.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--ion-color-medium);
  }
  ion-content, .empty-state {
    height: 100%;
  }