// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root{

    --ion-color-primary: #0051A2;
    --ion-color-secondary: #00a9ea;
    // --ion-color-primary: #F3136B;
    --ion-color-primary-rgb: 53, 173, 198;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #113A42;
    --ion-color-primary-tint: #237384;
}